<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Kepler Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend><p style="color:red">WORK IN PROGRESS - Input values:</p></legend>
        Input 1:
        <input name="input_1" type="number" required>
        <br>
        <br> Input 2:
        <input name="input_2" type="number" required>
        <br>
        <br> Input 3:
        <input name="input_3" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> <p style="color:red">WORK IN PROGRESS - Predicted output (using Neural Network model, will return 1.0 if not predicted an exoplanet, 0.0 if predicted an exoplanet):</p>
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>